@tailwind base;
@layer base {
  html {
    font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji';
    font-size: max(12px, calc(100vw / 120));
  }
}

@tailwind components;
@layer components {
  .hstack {
    @apply flex items-center;
  }
  .vstack {
    @apply flex flex-col items-center;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

@tailwind utilities;
